.nav{
	list-style: none;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(4, 10rem);
	justify-content: center;

	&__link:link,
	&__link:visited{
		font-size: $font-sm;
		text-align: center;
		padding: 1rem;
		display: block;
		@include easeOut;
	}

	&__link:hover,
	&__link:active{
		@include hoverGray;
	}

	@media screen and (max-width: 1015px){
		display: none;
	}
}