//Text colors
$color-primary: #fff;
$color-secondary: rgb(255, 195,0);
$color-tertiary: #aaa;

//Overlay
$color-overlay: #333;

//Font Size
$font-md: 2rem;
$font-sm: 1.6rem;
$font-xsm: 1.4rem;

//Font font-family
$font-default: 'Merriweather', serif;
$font-title: 'Anton', sans-serif;

//Hover
$color-red: rgb(210, 30, 30);
$color-dark-gray: #555;

//Card Background
$card-black: rgb(45,45,45);
$card-black-light: rgb(30,30,30);

//Button Colors
$button-back: #111;